:root {
    --bs-primary: #6f42c1;
    --bs-danger: #dc3545;
    --bs-success: #8e44ad;
    --bs-info: #9b59b6;
    --bs-warning: #f39c12;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    color: #fff !important;
}

.btn-danger {
    background-color: var(--bs-danger) !important;
    border-color: var(--bs-danger) !important;
    color: #fff !important;
}

.badge {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.text-danger {
    color: var(--bs-danger) !important;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
    color: #fff !important;
}

.bg-danger {
    background-color: var(--bs-danger) !important;
    color: #fff !important;
}
