{% extends 'main.html' %}

{% block content %}

<style>
    .btn-primary {
        background-color: #9a27e7;
        border-color: #9a27e7;
    }

    .btn-primary:hover {
        background-color: #771fb3;
        border-color: #771fb3;
    }
</style>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-6 col-lg-4">

        <h3>Confirmação!</h3>

            <div class="layout__body">
                <form class="form" method="POST" action="">
                    {% csrf_token %}
                        <p>Tem certeza que deseja excluir "{{obj}}"?</p>
                        <button type="submit" class="btn btn-danger btn-sm  d-inline-block" value="Confirm">Excluir</button>
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary btn-sm  d-inline-block">Voltar</a>
                </form>
            </div>
    </div>
</div>
{% endblock content %}