{% extends 'main.html' %}
    {% block content %}

        <!-- titulo do livro -->
        <h1 class="text-center fw-bold my-4">{{ livro.titulo }}</h1>
        <div class="container-fluid px-3">
            <div class="row align-items-center">
              <!-- Capa do livro -->
              <div class="col-12 col-md-4 d-flex justify-content-center mb-3 mb-md-0">
                <img 
                  src="{{ livro.capa.url }}" alt="{{ livro.titulo }}" class="img-fluid rounded" 
                  style="max-width: 100%; height: auto; border: 2px solid #ddd;">
              </div>
              <!-- Sinopse do livro -->
              <div class="col-12 col-md-8">
                <p>{{ livro.sinopse }}</p>
              </div>
            </div>
          </div>
        <!-- Sobre o autor -->
        <div class="container-fluid px-3">
            <div class="card mb-3 w-100" style="border-radius: 8px;">
              <div class="row g-0 align-items-center">
                <div class="col-12 text-center py-2">
                  <h5 class="fw-bold">Sobre o autor:</h5>
                </div>
                <!-- Foto do autor -->
                <div class="col-12 col-md-4 d-flex justify-content-center py-3 py-md-0">
                  <img 
                    src="{{ autor.foto.url }}" 
                    class="img-fluid rounded-circle" 
                    alt="Foto do Autor" 
                    style="width: 150px; height: 150px; object-fit: cover; border: 3px solid #ddd;">
                </div>
                <!-- Descrição do autor -->
                <div class="col-12 col-md-8">
                  <div class="card-body text-center text-md-start">
                    <h5 class="card-title">{{ autor.nome }}</h5>
                    <p class="card-text">{{ autor.descricao }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          
          

    {% endblock %}